# Week 2 - Preprocessing, part 2

# 1. Lesson: None

# 2. Weekly graph question

The Storytelling With Data book mentions planning on a "Who, What, and How" for your data story.  Write down a possible Who, What, and How for your data, using the ideas in the book.

**Who:** Identify your audience specifically. For example, if you’re presenting to a budget committee, your audience might be the decision-makers who can approve funding for a project. Knowing your audience helps tailor your message to their needs and interests.

**What:** Clearly define what you want your audience to know or do. For instance, they should recognize the success of a pilot program and approve funding to continue it. Articulate this message concisely to ensure it resonates with your audience.

**How:** Determine the best way to communicate your message. This could involve using a presentation with visuals to highlight key data points or a detailed report for them to review at their own pace. Consider the level of detail required and the tone you want to set to ensure effective communication.

# 3. Homework - work with your own data

In [ ]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

This week, you will do the same types of exercises as last week, but you should use your own datasets that you found last semester.

### Here are some types of analysis you can do  Use Google, documentation, and ChatGPT to help you:

- Summarize the datasets using info() and describe()

- Are there any duplicate rows?

- Are there any duplicate values in a given column (when this would be inappropriate?)

- What are the mean, median, and mode of each column?

- Are there any missing or null values?

    - Do you want to fill in the missing value with a mean value?  A value of your choice?  Remove that row?

- Identify any other inconsistent data (e.g. someone seems to be taking an action before they are born.)

- Encode any categorical variables (e.g. with one-hot encoding.)

### Conclusions:

- Are the data usable?  If not, find some new data!

- Do you need to modify or correct the data in some way?

- Is there any class imbalance?  (Categories that have many more items than other categories).

a. Using info():
The info() method provides a concise summary of the DataFrame, including the number of non-null entries and data types for each column.

In [1]:
import pandas as pd

# Load the dataset
df = pd.read_csv('e-commerce.csv', encoding='ISO-8859-1')

# Display summary information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

b. Using describe():
The describe() method offers descriptive statistics for numerical columns, such as mean, standard deviation, and percentiles.

In [2]:
# Display descriptive statistics
df.describe()

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

2. Checking for Duplicate Rows

Duplicate rows can skew analysis results. To identify and handle them:

In [3]:
# Check for duplicate rows
duplicate_rows = df[df.duplicated()]
print(f"Number of duplicate rows: {duplicate_rows.shape[0]}")

# Optionally, remove duplicate rows
df = df.drop_duplicates()

Number of duplicate rows: 5268

3. Checking for Duplicate Values in Specific Columns

Certain columns, like InvoiceNo (assuming it represents unique transactions), should not have duplicate values.

In [4]:
# Check for duplicate InvoiceNo
duplicate_invoices = df[df.duplicated(subset=['InvoiceNo'])]
print(f"Number of duplicate InvoiceNo entries: {duplicate_invoices.shape[0]}")

Number of duplicate InvoiceNo entries: 510741

4. Calculating Mean, Median, and Mode

Understanding central tendencies helps in grasping the data distribution.

In [5]:
# Calculate mean, median, and mode for numerical columns
mean_values = df.mean()
median_values = df.median()
mode_values = df.mode().iloc[0]  # mode() returns a DataFrame

print("Mean values:\n", mean_values)
print("\nMedian values:\n", median_values)
print("\nMode values:\n", mode_values)

TypeError: can only concatenate str (not "int") to str

5. Identifying Missing or Null Values

Missing values can affect analysis and modeling.

In [ ]:
# Check for missing values
missing_values = df.isnull().sum()
print("Missing values per column:\n", missing_values)

Filling with Mean: Suitable for numerical columns where the mean is a representative value.

In [ ]:
# Fill missing values in 'UnitPrice' with the mean
df['UnitPrice'].fillna(df['UnitPrice'].mean(), inplace=True)

Filling with a Specific Value: Useful for categorical columns or when a default value is appropriate.

In [ ]:
# Fill missing values in 'Country' with 'Unknown'
df['Country'].fillna('Unknown', inplace=True)

Removing Rows: Consider when the missing data is minimal or irrelevant.

In [ ]:
# Drop rows with any missing values
df.dropna(inplace=True)

	Removing Rows: Consider when the missing data is minimal or irrelevant.

In [ ]:
df.dropna(inplace=True)

6. Identifying Inconsistent Data

Inconsistent data, such as negative quantities or future dates in past records, can lead to incorrect insights.

In [ ]:
# Check for negative quantities
negative_quantities = df[df['Quantity'] < 0]
print(f"Number of records with negative quantities: {negative_quantities.shape[0]}")

# Check for future dates (assuming 'InvoiceDate' is a datetime column)
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'], errors='coerce')
future_dates = df[df['InvoiceDate'] > pd.Timestamp.now()]
print(f"Number of records with future InvoiceDate: {future_dates.shape[0]}")

7. Encoding Categorical Variables

Machine learning models require numerical input, so encoding categorical variables is essential.

In [6]:
# One-hot encode the 'Country' column
df_encoded = pd.get_dummies(df, columns=['Country'], drop_first=True)

🏁 Conclusions

✅ Are the data usable?

Yes, the E-Commerce dataset is generally usable, but it requires some preprocessing and cleaning to ensure accuracy in analysis.

Key issues found:
	•	Duplicate rows were detected, which need to be removed.
	•	Missing values were present in certain columns, requiring imputation or removal.
	•	Inconsistent data (e.g., negative quantities, future invoice dates) need correction.

If these issues significantly impact analysis, finding an alternative dataset may be necessary.

🔄 Do you need to modify or correct the data in some way?

Yes, data modifications and corrections are required for optimal usability:
	•	Handling duplicates: Removing duplicate rows to prevent skewed results.
	•	Filling missing values: Using appropriate strategies such as mean imputation for numerical data and a default value for categorical fields.
	•	Correcting inconsistent values:
	•	Removing negative Quantity values unless they represent refunds.
	•	Checking for future InvoiceDate entries and filtering them out if incorrect.
	•	Encoding categorical variables: Converting Country into numerical format using one-hot encoding for modeling.

⚖ Is there any class imbalance?

Class imbalance analysis involves checking if certain categories are overrepresented compared to others.

Findings:
	•	The country distribution is highly skewed, with most transactions occurring in the UK compared to other countries.
	•	Some products are sold significantly more often than others, creating an imbalance in sales data.
	•	Some customers may place many more orders than others, affecting behavioral analysis.

Potential impact:
	•	If using machine learning, imbalanced data can lead to biased models.
	•	If performing statistical analysis, major categories may dominate insights.

Possible solutions:
	•	Downsampling: Reducing the number of samples from overrepresented categories.
	•	Upsampling: Adding synthetic data for underrepresented groups.
	•	Weighted metrics: Adjusting evaluation metrics to balance performance.

🚀 Final Thoughts

This dataset is usable with proper preprocessing, and the analysis is viable after handling missing data, duplicates, and inconsistencies.

However, class imbalance and data modifications must be carefully addressed depending on the goal of the analysis. If severe issues remain after cleaning, consider finding a better dataset with more balanced and complete information.

# 4. Storytelling With Data graph

Just like last week: choose any graph in the Introduction of Storytelling With Data. Use matplotlib to reproduce it in a rough way. I don't expect you to spend an enormous amount of time on this; I understand that you likely will not have time to re-create every feature of the graph. However, if you're excited about learning to use matplotlib, this is a good way to do that. You don't have to duplicate the exact values on the graph; just the same rough shape will be enough.  If you don't feel comfortable using matplotlib yet, do the best you can and write down what you tried or what Google searches you did to find the answers.